body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: var(--colorblack);
  transition: background 0.2s linear;
  background-color: var(--colorblack);
}

.dark{
  --backcolor2: #4a4b4e;
  --text-color: #f2f2f2;
  --backcolor: #51545c;
  --backcolor3: #3d3e42;
  --color1blue: #2383c4;
  --color2red: #cd2233;
  --color3bluecian: #2383c4;
  --color4blue2: #022970;
  --colorblack: #2383c4;
  --colorwhite: #fff;
  --color2blue: #fff;
  --bordercolor: rgba(200, 217, 248, 0.1);
  --iconcolor: #fff;
  --mobilenavbar: #404b50;
  --buttoncontact: #fff;
  --navbar: #51545c;
}

/*------------- 
  DARK MODE
  --------------*/
  
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: var(--colorblack);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 10px;
    padding: 5px;
    position: relative;
    height: 25px;
    width: 45px;
    transform: scale(1.2);
    margin-left: 10rem;
  
  }
  
  
  .label .ball {
    background-color:  var(--colorwhite);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 1.5px;
    height: 20px;
    width: 19.5px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #FFBF00;
  }




:root {
  --color-light-50: #f8fafc;

  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  --color-purple-50: #7c3aed;
  --color-purple-100: #a855f7;
  --color-purple-200: #bf46ef;

  --color-gradiant: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))

  scroll-behavior: smooth;
  
    
    --backcolor: #e7e7e7;
    --backcolor2: #d1d1d1;
    --backcolor3: #ebe9e9;
    --color1blue: #012970;
    --color2blue: #012970;
    --color2red: #cd2233;
    --color2redheader: #cd2233;
    --color3bluecian: #2383c4;
    --color4blue2: #022970;
    --colorblack: #1a1b1b;
    --colorwhite: #fff;
    --text-color: #666;
    --bordercolor: rgba(1, 41, 112, 0.1);
    --iconcolor: #2383c4; 
    --mobilenavbar: #022970;
    --buttoncontact: #1a689c;
    --navbar: #03328a;

}

  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  .section-header h2 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: var(--color1blue);
    text-transform: uppercase;
  }
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: var(--text-color);
  }
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }

  /*--------------------------------------------------------------
  # Header
  -------------------------eader1-------------------------------------*/
  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background: none;
  }
  #header1{
    color: var(--colorwhite);
  }
  
  .header2{
    color: var(--color2blue)
  }
  .header #header1:hover{
    color: var(--color2red);
  }
  .header #buttonheader{
    background-color: var(--color3bluecian);
    color: var(--colorwhite);
  }
  .header.header-scrolled {
    background: var(--backcolor2);
    padding: 15px 0;
    box-shadow: 0px 2px 20px var(--bordercolor);
  }
  .header.header-scrolled span{
    color:var(--colorwhite);
  }
  .header.header-scrolled #header1{
    color: var(--colorwhite);
  }
  .header.header-scrolled #header1:hover{
    color: var(--colorwhite);
  }
  
  .header .logo {
    line-height: 0;
  }
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color2red);
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  
  .header-top {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background-color: var(--backcolor3);
  }
  .header.header-scrolled {
    background: var(--color2redheader);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  .header-top .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color2red);
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  
  /*--------------------------------------------------------------
  # Navbar
  --------------------------------------------------------------*/
  /**
  * Pc 
  */
  
  
  
  
  
  .feature-icons h3{
      color: var(--color1blue);
      text-align: center;
  }
  
  #subtitle{
    color: var(--color3bluecian);
    font-size: 22px;
  }
  
  .feature-icons h3 #subtitle{
    color: var(--color3bluecian);
  }
  
  .feature-icons h4{
    color: var(--color3bluecian);
  }
  
  #recursos-img{
    margin-top: 50px;
  }

#login_form {
  background-color: #cc2929;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 8px;
  gap: 30px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
  height: fit-content;
}

#form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#form_header h1 {
  font-size: 40px;
  position: relative;
}

#form_header h1::before {
  position: absolute;
  width: 40%;
  height: 3px;
  bottom: 10px;
  border-radius: 5px;
  background-color: var(--color-purple-50);
}

#mode_icon {
  cursor: pointer;
  font-size: 20px;
}

#social_media {
  display: flex;
  justify-content: space-around;
}


#social_media img {
  width: 35px;
}

#social_media img:hover {
  transform: scale(1.2);
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-box label {
  font-size: 14px;
  color: var(--color-dark-50);
}

.input-field {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  cursor: text;
  border-bottom: 1px solid var(--color-purple-50);
}

.input-field i {
  font-size: 18px;
  color: var(--color-dark-900);
}

.input-field input {
  border: none;
  background-color: transparent;
  width: 260px;
  font-size: 18px;
  padding: 0px 5px;
}

.input-field input:focus {
  outline: none;
}

#forgot_passaword a {
  text-decoration: none;
  font-size: 12px;
  color: var(--color-dark-50);
}

#forgot_passaword a:hover {
  color: var(--color-purple-50);
}

#login_button {
  border: none;
  background: var(--color3bluecian);
  padding: 7px;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

#login_button:hover {
  transform: scale(1.05);
}













